@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles/globals.css */

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.otf')
    format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.otf')
    format('opentype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Cabinet Grotesk', sans-serif;
}

.remove-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* ========== Customizeed ScrollBar ========== */
.sideBar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #18191a #18191a;
}

.sideBar::-webkit-scrollbar {
  width: 8px;
}

.sideBar::-webkit-scrollbar-track {
  border: 1px solid #a8a8a8;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.scrollbar::-webkit-scrollbar-track:hover {
  background: #242526;
}

.sideBar:hover::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 23px;
  height: 4px;
}

/* Scrollbar styling */
@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */

  width
  /* ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 4px
  } */

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 40px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ef0000;
    border-radius: 40px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ef0000;
  }
}

.snackbars_success {
  box-shadow: 2px 4px 11px rgba(56, 74, 98, 0.14);
}

.auth-glass {
  /* From https://css.glass */
  border-radius: 12px;
  background: linear-gradient(
    148deg,
    rgba(0, 0, 0, 0.16) 24.31%,
    rgba(255, 255, 255, 0.5) 127.58%
  );
  backdrop-filter: blur(6px);
}

/* Phone Number Style*/
.react-international-phone-country-selector {
  position: relative;
}

.react-international-phone-country-selector-button {
  display: flex;
  height: var(--react-international-phone-height, 28px);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid
    var(
      --react-international-phone-country-selector-border-color,
      var(--react-international-phone-border-color, #d0d6dd)
    );
  margin: 0;
  appearance: button;
  -webkit-appearance: button;
  background-color: var(
    --react-international-phone-country-selector-background-color,
    var(--react-international-phone-background-color, white)
  );
  cursor: pointer;
  text-transform: none;
  user-select: none;
}

.react-international-phone-country-selector-button:hover {
  background-color: var(
    --react-international-phone-country-selector-background-color-hover,
    whitesmoke
  );
}

.react-international-phone-country-selector-button--hide-dropdown {
  cursor: auto;
}

.react-international-phone-country-selector-button--hide-dropdown:hover {
  background-color: transparent;
}

.react-international-phone-country-selector-button__button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-international-phone-country-selector-button__flag-emoji {
  margin: 0 4px;
}

.react-international-phone-country-selector-button__flag-emoji--disabled {
  opacity: 0.75;
}

.react-international-phone-country-selector-button__dropdown-arrow {
  border-top: var(--react-international-phone-country-selector-arrow-size, 4px)
    solid var(--react-international-phone-country-selector-arrow-color, #777);
  border-right: var(
      --react-international-phone-country-selector-arrow-size,
      4px
    )
    solid transparent;
  border-left: var(--react-international-phone-country-selector-arrow-size, 4px)
    solid transparent;
  margin-right: 4px;
  transition: all 0.1s ease-out;
}

.react-international-phone-country-selector-button__dropdown-arrow--active {
  transform: rotateX(180deg);
}

.react-international-phone-country-selector-button__dropdown-arrow--disabled {
  border-top-color: var(
    --react-international-phone-disabled-country-selector-arrow-color,
    #999
  );
}

.react-international-phone-country-selector-button--disabled {
  background-color: var(
    --react-international-phone-disabled-country-selector-background-color,
    var(--react-international-phone-disabled-background-color, whitesmoke)
  );
  cursor: auto;
}

.react-international-phone-country-selector-button--disabled:hover {
  background-color: var(
    --react-international-phone-disabled-country-selector-background-color,
    var(--react-international-phone-disabled-background-color, whitesmoke)
  );
}

.react-international-phone-flag-emoji {
  width: var(--react-international-phone-flag-width, 24px);
  height: var(--react-international-phone-flag-height, 24px);
  box-sizing: border-box;
}

.react-international-phone-country-selector-dropdown {
  position: absolute;
  z-index: 1;
  top: var(--react-international-phone-dropdown-top, 44px);
  left: var(--react-international-phone-dropdown-left, 0);
  display: flex;
  width: 300px;
  max-height: 200px;
  flex-direction: column;
  padding: 4px 0;
  margin: 0;
  background-color: var(
    --react-international-phone-dropdown-item-background-color,
    var(--react-international-phone-background-color, white)
  );
  box-shadow: var(
    --react-international-phone-dropdown-shadow,
    2px 2px 16px rgba(0, 0, 0, 0.25)
  );
  color: var(
    --react-international-phone-dropdown-item-text-color,
    var(--react-international-phone-text-color, #222)
  );
  list-style: none;
  overflow-y: scroll;
}

.react-international-phone-country-selector-dropdown__preferred-list-divider {
  height: 1px;
  border: none;
  margin: var(
    --react-international-phone-dropdown-preferred-list-divider-margin,
    0
  );
  background: var(
    --react-international-phone-dropdown-preferred-list-divider-color,
    var(--react-international-phone-border-color, gainsboro)
  );
}

.react-international-phone-country-selector-dropdown__list-item {
  display: flex;
  min-height: var(--react-international-phone-dropdown-item-height, 28px);
  box-sizing: border-box;
  align-items: center;
  padding: 2px 8px;
}

.react-international-phone-country-selector-dropdown__list-item-flag-emoji {
  margin-right: 8px;
}

.react-international-phone-country-selector-dropdown__list-item-country-name {
  overflow: hidden;
  margin-right: 8px;
  font-size: var(--react-international-phone-dropdown-item-font-size, 14px);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-international-phone-country-selector-dropdown__list-item-dial-code {
  color: var(--react-international-phone-dropdown-item-dial-code-color, gray);
  font-size: var(--react-international-phone-dropdown-item-font-size, 14px);
}

.react-international-phone-country-selector-dropdown__list-item:hover {
  background-color: var(
    --react-international-phone-selected-dropdown-item-background-color,
    var(
      --react-international-phone-selected-dropdown-item-background-color,
      whitesmoke
    )
  );
  cursor: pointer;
}

.react-international-phone-country-selector-dropdown__list-item--selected,
.react-international-phone-country-selector-dropdown__list-item--focused {
  background-color: var(
    --react-international-phone-selected-dropdown-item-background-color,
    whitesmoke
  );
  color: var(
    --react-international-phone-selected-dropdown-item-text-color,
    var(--react-international-phone-text-color, #222)
  );
}

.react-international-phone-country-selector-dropdown__list-item--selected
  .react-international-phone-country-selector-dropdown__list-item-dial-code,
.react-international-phone-country-selector-dropdown__list-item--focused
  .react-international-phone-country-selector-dropdown__list-item-dial-code {
  color: var(
    --react-international-phone-selected-dropdown-item-dial-code-color,
    var(--react-international-phone-dropdown-item-dial-code-color, gray)
  );
}

.react-international-phone-country-selector-dropdown__list-item--focused {
  background-color: var(
    --react-international-phone-selected-dropdown-item-background-color,
    var(
      --react-international-phone-selected-dropdown-item-background-color,
      whitesmoke
    )
  );
}

.react-international-phone-dial-code-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border: 1px solid
    var(
      --react-international-phone-dial-code-preview-border-color,
      var(--react-international-phone-border-color, gainsboro)
    );
  margin-right: -1px;
  background-color: var(
    --react-international-phone-dial-code-preview-background-color,
    var(--react-international-phone-background-color, white)
  );
  color: var(
    --react-international-phone-dial-code-preview-text-color,
    var(--react-international-phone-text-color, #222)
  );
  font-size: var(
    --react-international-phone-dial-code-preview-font-size,
    var(--react-international-phone-font-size, 13px)
  );
}

.react-international-phone-dial-code-preview--disabled {
  background-color: var(
    --react-international-phone-dial-code-preview-disabled-background-color,
    var(--react-international-phone-disabled-background-color, whitesmoke)
  );
  color: var(
    --react-international-phone-dial-code-preview-disabled-text-color,
    var(--react-international-phone-disabled-text-color, #666)
  );
}

.react-international-phone-input-container {
  display: flex;
  width: 100%;
  /* height: 44px; */
}

.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  border-radius: var(--react-international-phone-border-radius, 8px);
  margin-right: -1px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 0px 10px;
  height: 44px;
}

.react-international-phone-input-container .react-international-phone-input {
  overflow: visible;
  /* height: var(--react-international-phone-height, 52px); */
  box-sizing: border-box;
  padding: 12px 8px;
  border: 1px solid var(--react-international-phone-border-color, #d0d6dd);
  border-radius: var(--react-international-phone-border-radius, 8px);
  margin: 0;
  background-color: var(--react-international-phone-background-color, white);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: var(--react-international-phone-text-color, #0f1625);
  font-size: var(--react-international-phone-font-size, 14px);
  width: 100%;
  line-height: 1;
}

.react-international-phone-input-container
  .react-international-phone-input:focus {
  outline: none;
}

.react-international-phone-input-container
  .react-international-phone-input--disabled {
  background-color: var(
    --react-international-phone-disabled-background-color,
    whitesmoke
  );
  color: var(--react-international-phone-disabled-text-color, #666);
}

.styled-country-dropdown {
  height: 35px;
}

.styled-country-dropdown label.Mui-focused {
}

.styled-country-dropdown .MuiInput-underline:after {
}

.styled-country-dropdown .MuiOutlinedInput-root {
  background: #fff;
  border-radius: 8px;
  transition: 0.6s;
  color: #080808;
  font-size: 14px;
  font-weight: 500;
  font-family: Satoshi;
}

.styled-country-dropdown .MuiOutlinedInput-root fieldset {
  border-color: #e3e3e3;
}

.styled-country-dropdown .MuiOutlinedInput-root:hover fieldset {
  border-color: rgba(92, 182, 127, 0.6);
}

.styled-country-dropdown .MuiOutlinedInput-root.Mui-focused fieldset {
  border: 1px solid;
  border-color: #5cb67f;
}

.styled-country-dropdown::placeholder {
  color: #8e8e8e;
}

/* Override dropdown background and text color */
.react-flags-select__menu {
  background-color: #f0f4f8 !important;
  color: #333 !important;
}

/* Style individual options */
.react-flags-select__option {
  color: #444 !important;
  padding: 10px 15px !important;
  background-color: #fff !important;
}

/* Change border radius of the dropdown */
.react-flags-select__menu {
  border-radius: 8px !important;
}

/* Style the flag icon itself */
.react-flags-select__flag {
  border-radius: 50% !important;
}

/* Highlight selected option */
.react-flags-select__option--selected {
  background-color: #22c55e !important;
  color: white !important;
}

.custom-flag-select {
  border-radius: 8px;
}

.custom-flag-select .react-flags-select__option {
  color: #1f2937;
  background-color: #f0f0f0;
}

.custom-flag-select .react-flags-select__option--selected {
  background-color: #22c55e;
  color: white;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  border-radius: 12px;
}

.modal-bg {
  background: linear-gradient(179deg, #f0f1f7 15.73%, #fff 49.36%);
}

/* Increase specificity for slick dots */
.slick-dots li button:before {
  font-size: 18px;
  color: white !important; /* Force the dot color to be white */
  opacity: 0.5; /* Adjust opacity for unselected dots */
  width: 25px !important;
  height: 25px !important;
}

.slick-dots li.slick-active button:before {
  color: white !important; /* Ensure active dot stays white */
  opacity: 1; /* Set full opacity for active dot */
  width: 25px !important;
  height: 25px !important;
}

.overflowHidden {
  overflow: hidden !important;
}

/* Side Bar */
.sidebar-container {
  width: 266px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.2s ease-out;
  font-family: 'Cabinet Grotesk' !important;
}

@media screen and (max-width: 820px) {
  .sidebar-container {
    width: 200px;
  }

  .sidebar-container .brand {
    margin-top: 10px;
    height: 50px;
  }

  .sidebar-container.collapsed {
    width: 100px;
  }
}

.sidebar-container .links {
  display: flex;
  flex-direction: column;
  /* gap: 19px; */
}

.sidebar-container .links * {
  transition: all 0.3s ease-in-out !important;
}

.sidebar-container .links .MuiMenuItem-gutters {
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
}

.sidebar-container .links .MuiMenuItem-gutters.minify {
  width: 68px;
  border-radius: 8px;
  margin: 0px auto;
}

.sidebar-container .links .sidebar-item {
  width: 100%;
  height: 28px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #787878 !important;
  font-family: 'Cabinet Grotesk' !important;
  position: relative;
}

.sidebar-container .links .sidebar-item::before {
  content: '';
  width: 4px;
  height: 0px;
  background-color: #fff;
  position: absolute;
  left: 0.2px;
  border-radius: 3px;
  transition: height 0.2s ease-out;
}

.sidebar-container .links .sidebar-item.active {
  background-color: #0000000d;
}

.sidebar-container .links .sidebar-item.active::before {
  height: 16px;
  background-color: #000;
}

.sidebar-container .links .sidebar-item.minify {
  border: none;
  border-radius: 8px;
}

.checkbox-red:checked {
  background-color: red;
  border-color: red;
}

/* 
@layer base {
  :root {
    --radius: 0.5rem;
  }
} */
@layer base {
  :root {
    --sidebar-background: #0f1625;
    --sidebar-foreground: red;
    --sidebar-primary: red;
    --sidebar-primary-foreground: red;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* In your Tailwind CSS file */
@layer utilities {
  .select-trigger[data-placeholder='true'] {
    @apply text-gray-400; /* Adjust color as needed */
  }
}
