@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles/globals.css */

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}


body {
  font-family: 'Cabinet Grotesk', sans-serif;
}

.remove-scroll-bar::-webkit-scrollbar {
  display: none;
}


/* Scrollbar styling */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 4px
  }

  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    background: #ffffff;
    border-radius: 40px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #EF0000;
    border-radius: 40px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #EF0000;
  }
}

.snackbars_success {
  box-shadow: 2px 4px 11px rgba(56, 74, 98, 0.14);
}

.auth-glass {
  /* From https://css.glass */
  border-radius: 12px;
  background: linear-gradient(148deg, rgba(0, 0, 0, 0.16) 24.31%, rgba(255, 255, 255, 0.50) 127.58%);
  backdrop-filter: blur(6px);
}



/* Phone Number Style*/
.react-international-phone-country-selector {
  position: relative
}

.react-international-phone-country-selector-button {
  display: flex;
  height: var(--react-international-phone-height, 36px);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid var(--react-international-phone-country-selector-border-color, var(--react-international-phone-border-color, #D0D6DD));
  margin: 0;
  appearance: button;
  -webkit-appearance: button;
  background-color: var(--react-international-phone-country-selector-background-color, var(--react-international-phone-background-color, white));
  cursor: pointer;
  text-transform: none;
  user-select: none
}

.react-international-phone-country-selector-button:hover {
  background-color: var(--react-international-phone-country-selector-background-color-hover, whitesmoke)
}

.react-international-phone-country-selector-button--hide-dropdown {
  cursor: auto
}

.react-international-phone-country-selector-button--hide-dropdown:hover {
  background-color: transparent
}

.react-international-phone-country-selector-button__button-content {
  display: flex;
  align-items: center;
  justify-content: center
}

.react-international-phone-country-selector-button__flag-emoji {
  margin: 0 4px
}

.react-international-phone-country-selector-button__flag-emoji--disabled {
  opacity: .75
}

.react-international-phone-country-selector-button__dropdown-arrow {
  border-top: var(--react-international-phone-country-selector-arrow-size, 4px) solid var(--react-international-phone-country-selector-arrow-color, #777);
  border-right: var(--react-international-phone-country-selector-arrow-size, 4px) solid transparent;
  border-left: var(--react-international-phone-country-selector-arrow-size, 4px) solid transparent;
  margin-right: 4px;
  transition: all .1s ease-out
}

.react-international-phone-country-selector-button__dropdown-arrow--active {
  transform: rotateX(180deg)
}

.react-international-phone-country-selector-button__dropdown-arrow--disabled {
  border-top-color: var(--react-international-phone-disabled-country-selector-arrow-color, #999)
}

.react-international-phone-country-selector-button--disabled {
  background-color: var(--react-international-phone-disabled-country-selector-background-color, var(--react-international-phone-disabled-background-color, whitesmoke));
  cursor: auto
}

.react-international-phone-country-selector-button--disabled:hover {
  background-color: var(--react-international-phone-disabled-country-selector-background-color, var(--react-international-phone-disabled-background-color, whitesmoke))
}

.react-international-phone-flag-emoji {
  width: var(--react-international-phone-flag-width, 24px);
  height: var(--react-international-phone-flag-height, 24px);
  box-sizing: border-box
}

.react-international-phone-country-selector-dropdown {
  position: absolute;
  z-index: 1;
  top: var(--react-international-phone-dropdown-top, 44px);
  left: var(--react-international-phone-dropdown-left, 0);
  display: flex;
  width: 300px;
  max-height: 200px;
  flex-direction: column;
  padding: 4px 0;
  margin: 0;
  background-color: var(--react-international-phone-dropdown-item-background-color, var(--react-international-phone-background-color, white));
  box-shadow: var(--react-international-phone-dropdown-shadow, 2px 2px 16px rgba(0, 0, 0, .25));
  color: var(--react-international-phone-dropdown-item-text-color, var(--react-international-phone-text-color, #222));
  list-style: none;
  overflow-y: scroll
}

.react-international-phone-country-selector-dropdown__preferred-list-divider {
  height: 1px;
  border: none;
  margin: var(--react-international-phone-dropdown-preferred-list-divider-margin, 0);
  background: var(--react-international-phone-dropdown-preferred-list-divider-color, var(--react-international-phone-border-color, gainsboro))
}

.react-international-phone-country-selector-dropdown__list-item {
  display: flex;
  min-height: var(--react-international-phone-dropdown-item-height, 28px);
  box-sizing: border-box;
  align-items: center;
  padding: 2px 8px
}

.react-international-phone-country-selector-dropdown__list-item-flag-emoji {
  margin-right: 8px
}

.react-international-phone-country-selector-dropdown__list-item-country-name {
  overflow: hidden;
  margin-right: 8px;
  font-size: var(--react-international-phone-dropdown-item-font-size, 14px);
  text-overflow: ellipsis;
  white-space: nowrap
}

.react-international-phone-country-selector-dropdown__list-item-dial-code {
  color: var(--react-international-phone-dropdown-item-dial-code-color, gray);
  font-size: var(--react-international-phone-dropdown-item-font-size, 14px)
}

.react-international-phone-country-selector-dropdown__list-item:hover {
  background-color: var(--react-international-phone-selected-dropdown-item-background-color, var(--react-international-phone-selected-dropdown-item-background-color, whitesmoke));
  cursor: pointer
}

.react-international-phone-country-selector-dropdown__list-item--selected,.react-international-phone-country-selector-dropdown__list-item--focused {
  background-color: var(--react-international-phone-selected-dropdown-item-background-color, whitesmoke);
  color: var(--react-international-phone-selected-dropdown-item-text-color, var(--react-international-phone-text-color, #222))
}

.react-international-phone-country-selector-dropdown__list-item--selected .react-international-phone-country-selector-dropdown__list-item-dial-code,.react-international-phone-country-selector-dropdown__list-item--focused .react-international-phone-country-selector-dropdown__list-item-dial-code {
  color: var(--react-international-phone-selected-dropdown-item-dial-code-color, var(--react-international-phone-dropdown-item-dial-code-color, gray))
}

.react-international-phone-country-selector-dropdown__list-item--focused {
  background-color: var(--react-international-phone-selected-dropdown-item-background-color, var(--react-international-phone-selected-dropdown-item-background-color, whitesmoke))
}

.react-international-phone-dial-code-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border: 1px solid var(--react-international-phone-dial-code-preview-border-color, var(--react-international-phone-border-color, gainsboro));
  margin-right: -1px;
  background-color: var(--react-international-phone-dial-code-preview-background-color, var(--react-international-phone-background-color, white));
  color: var(--react-international-phone-dial-code-preview-text-color, var(--react-international-phone-text-color, #222));
  font-size: var(--react-international-phone-dial-code-preview-font-size, var(--react-international-phone-font-size, 13px))
}

.react-international-phone-dial-code-preview--disabled {
  background-color: var(--react-international-phone-dial-code-preview-disabled-background-color, var(--react-international-phone-disabled-background-color, whitesmoke));
  color: var(--react-international-phone-dial-code-preview-disabled-text-color, var(--react-international-phone-disabled-text-color, #666))
}

.react-international-phone-input-container {
  display: flex;
  width: 100%;
}

.react-international-phone-input-container .react-international-phone-country-selector-button {
  border-radius: var(--react-international-phone-border-radius, 8px);
  margin-right: -1px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 25px 10px
}

.react-international-phone-input-container .react-international-phone-input {
  overflow: visible;
  /* height: var(--react-international-phone-height, 52px); */
  box-sizing: border-box;
  padding: 15px 8px;
  border: 1px solid var(--react-international-phone-border-color, #D0D6DD);
  border-radius: var(--react-international-phone-border-radius, 8px);
  margin: 0;
  background-color: var(--react-international-phone-background-color, white);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: var(--react-international-phone-text-color, #0F1625);
  font-size: var(--react-international-phone-font-size, 14px);
  width: 100%;
  line-height: 1;
}

.react-international-phone-input-container .react-international-phone-input:focus {
  outline: none
}

.react-international-phone-input-container .react-international-phone-input--disabled {
  background-color: var(--react-international-phone-disabled-background-color, whitesmoke);
  color: var(--react-international-phone-disabled-text-color, #666)
}



.styled-country-dropdown {
  height: 35px;
}

.styled-country-dropdown label.Mui-focused {}

.styled-country-dropdown .MuiInput-underline:after {}

.styled-country-dropdown .MuiOutlinedInput-root {
  background: #FFF;
  border-radius: 8px;
  transition: 0.6s;
  color: #080808;
  font-size: 14px;
  font-weight: 500;
  font-family: Satoshi;
}

.styled-country-dropdown .MuiOutlinedInput-root fieldset {
  border-color: #E3E3E3;
}

.styled-country-dropdown .MuiOutlinedInput-root:hover fieldset {
  border-color: rgba(92, 182, 127, 0.6);
}

.styled-country-dropdown .MuiOutlinedInput-root.Mui-focused fieldset {
  border: 1px solid;
  border-color: #5CB67F;
}

.styled-country-dropdown::placeholder {
  color: #8E8E8E;
}
