.sidebar-container {
  width: 266px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.2s ease-out;
  font-family: 'Cabinet Grotesk', sans-serif;

  @media screen and (max-width: 820px) {
    width: 200px;

    .brand {
      margin-top: 10px;
      height: 50px;
    }

    &.collapsed {
      width: 100px;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    // gap: 19px;

    * {
      transition: all 0.3s ease-in-out !important;
    }

    // padding-top: 119px;
    .MuiMenuItem-gutters {
      padding: 0px;
      margin: 0px;
      border-radius: 8px;

      &.minify {
        width: 68px;
        border-radius: 8px;
        margin: 0px auto;
      }
    }

    .sidebar-item {
      width: 100%;
      height: 28px;
      border-radius: 8px;

      display: flex;
      justify-content: center;
      align-items: center;
      color: #787878 !important;

      &::before {
        content: '';
        width: 4px;
        height: 0px;
        background-color: #fff; 
        position: absolute;
        left: 0.2px;
        border-radius: 3px;
        transition: height 0.2s ease-out;
      }

      &.active {
        background-color: #0000000d;

        &::before {
          height: 16px;
          background-color: #000;
        }
      }

      &.minify {
        border: none;
        border-radius: 8px;
      }
    }
  }
}
